@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.4s;
}

body {
  background: url(img/bc-3.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}
body #fp-nav ul li a span, body .fp-slidesNav ul li a span {
  background: white;
}
body ul {
  text-align: center;
}

.section.s1 {
  text-align: center;
}
.section.s1 .title {
  display: inline-block;
  width: auto;
  position: relative;
  top: -100px;
  opacity: 0;
  animation: disappear-top 500ms ease-in-out forwards;
}
.section.s1 .title h1 {
  animation: typing 2s 0.5s steps(22), blink 0.5s 0.5s step-end infinite alternate;
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 48px;
  width: 100%;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  padding-right: 5px;
  border-right: 3px solid white;
}
@media screen and (max-width: 500px) {
  .section.s1 .title h1 {
    font-size: 36px;
  }
}
@media screen and (max-width: 400px) {
  .section.s1 .title h1 {
    font-size: 30px;
    text-align: center;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
.section.s1 .img {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 30px auto;
}
.section.s1 .img img {
  max-width: 150px;
  max-height: 150px;
  height: 100%;
  object-fit: cover;
  object-position: center;
  position: relative;
  opacity: 0;
}
@media screen and (max-width: 500px) {
  .section.s1 .img img {
    max-width: 100px;
    max-height: 100px;
  }
}
.section.s1 .img img:nth-of-type(1) {
  left: -300px;
  animation: disappear-left 700ms ease-in-out forwards;
}
.section.s1 .img img:nth-of-type(2) {
  right: -300px;
  animation: disappear-right 700ms ease-in-out forwards;
}
.section.s1 .subtitle {
  position: relative;
  bottom: -100px;
  opacity: 0;
  animation: disappear-bottom 500ms ease-in-out forwards;
}
.section.s1 .subtitle h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: white;
  font-size: 32px;
}
@media screen and (max-width: 500px) {
  .section.s1 .subtitle h2 {
    font-size: 24px;
  }
}
@media screen and (max-width: 400px) {
  .section.s1 .subtitle h2 {
    font-size: 20px;
  }
}
.section.s1.active .title {
  animation: appear-top 700ms 0.5s ease-in-out forwards;
}
.section.s1.active .img img:nth-of-type(1) {
  animation: appear-left 1000ms 0.5s ease-in-out forwards;
}
.section.s1.active .img img:nth-of-type(2) {
  animation: appear-right 1000ms 0.5s ease-in-out forwards;
}
.section.s1.active .subtitle {
  animation: appear-bottom 700ms 0.5s ease-in-out forwards;
}
.section.s2 {
  position: relative;
}
.section.s2 .part-1 {
  position: absolute;
  width: 40%;
  top: 10%;
  left: 5%;
  border-left: 2px solid palevioletred;
  padding-left: 20px;
}
@media screen and (max-width: 810px) {
  .section.s2 .part-1 {
    width: 60%;
  }
}
@media screen and (max-width: 500px) {
  .section.s2 .part-1 {
    width: 80%;
  }
}
.section.s2 .part-1 .side {
  position: relative;
  opacity: 0;
  right: -200px;
  animation: disappear-right 500ms ease-in-out forwards;
}
.section.s2 .part-2 {
  position: absolute;
  width: 40%;
  right: 5%;
  top: 50%;
  border-right: 2px solid palevioletred;
  padding-right: 20px;
}
@media screen and (max-width: 810px) {
  .section.s2 .part-2 {
    width: 60%;
  }
}
@media screen and (max-width: 500px) {
  .section.s2 .part-2 {
    width: 80%;
  }
}
.section.s2 .part-2 .side {
  position: relative;
  opacity: 0;
  left: -200px;
  animation: disappear-left 500ms ease-in-out forwards;
}
.section.s2 .part-2 .side h2 {
  text-align: right;
}
.section.s2 .part-2 .side p {
  text-align: right;
}
.section.s2 .part-3 {
  width: 40%;
  position: absolute;
  bottom: 10%;
  left: 5%;
  padding-left: 20px;
  border-left: 2px solid palevioletred;
}
@media screen and (max-width: 810px) {
  .section.s2 .part-3 {
    width: 60%;
  }
}
@media screen and (max-width: 500px) {
  .section.s2 .part-3 {
    width: 80%;
  }
}
.section.s2 .part-3 .side {
  position: relative;
  opacity: 0;
  right: -200px;
  animation: disappear-right 500ms ease-in-out forwards;
}
.section.s2 .side {
  color: white;
  font-family: "Montserrat", sans-serif;
}
.section.s2 .side h2 {
  margin-bottom: 15px;
  font-size: 40px;
  font-weight: 600;
}
@media screen and (max-width: 810px) {
  .section.s2 .side h2 {
    font-size: 24px;
  }
}
@media screen and (max-width: 500px) {
  .section.s2 .side h2 {
    font-size: 20px;
  }
}
.section.s2 .side p {
  font-size: 18px;
  line-height: 1.5;
}
@media screen and (max-width: 810px) {
  .section.s2 .side p {
    font-size: 16px;
    line-height: 1.2;
  }
}
@media screen and (max-width: 500px) {
  .section.s2 .side p {
    font-size: 14px;
  }
}
.section.s2.active .part-1 .side {
  animation: appear-right 1000ms 0.5s ease-in-out forwards;
}
.section.s2.active .part-2 .side {
  animation: appear-left 1000ms 0.5s ease-in-out forwards;
}
.section.s2.active .part-3 .side {
  animation: appear-right 1000ms 0.5s ease-in-out forwards;
}
.section.s3.fp-section {
  overflow: hidden;
  display: flex;
}
.section.s3.fp-section h2 {
  font-size: 40px;
  color: white;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  margin: 5% 0;
  position: relative;
  top: -100px;
  opacity: 0;
  animation: disappear-top 500ms ease-in-out forwards;
}
@media screen and (max-width: 500px) {
  .section.s3.fp-section h2 {
    font-size: 30px;
    margin: 10% 0 20%;
  }
}
@media screen and (max-width: 400px) {
  .section.s3.fp-section h2 {
    font-size: 24px;
    margin: 20% 0 30%;
  }
}
.section.s3.fp-section section {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  width: 80%;
  align-items: center;
  margin: 0 auto;
  flex-wrap: wrap;
}
@media screen and (max-width: 1550px) {
  .section.s3.fp-section section {
    width: 90%;
    gap: 10px;
  }
}
@media screen and (max-width: 810px) {
  .section.s3.fp-section section {
    gap: 30px;
  }
}
.section.s3.fp-section section .project-card {
  width: 400px;
  display: flex;
  flex-direction: column;
  border: 5px solid white;
  position: relative;
  opacity: 0;
  transform: scale(0.8);
  animation: descale 500ms ease-in-out forwards;
}
@media screen and (max-width: 920px) {
  .section.s3.fp-section section .project-card {
    width: 80%;
    flex-direction: row;
    border-width: 3px;
  }
}
@media screen and (max-width: 500px) {
  .section.s3.fp-section section .project-card {
    width: 100%;
    max-height: 135px;
  }
}
.section.s3.fp-section section .project-card img {
  width: 100%;
  height: 100%;
  max-height: 150px;
  object-position: center;
  object-fit: cover;
  border-bottom: 1px solid white;
}
@media screen and (max-width: 1550px) {
  .section.s3.fp-section section .project-card img {
    max-height: 100px;
  }
}
@media screen and (max-width: 920px) {
  .section.s3.fp-section section .project-card img {
    width: 30%;
    max-height: none;
    height: auto;
    border-bottom: none;
    border-right: 1px solid white;
  }
}
.section.s3.fp-section section .project-card .desc {
  width: 100%;
  padding: 10px 10px 50px;
  height: 100%;
  position: relative;
}
@media screen and (max-width: 500px) {
  .section.s3.fp-section section .project-card .desc {
    padding: 15px;
  }
}
.section.s3.fp-section section .project-card .desc h3 {
  text-align: center;
  color: white;
  text-decoration: underline;
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
}
@media screen and (max-width: 500px) {
  .section.s3.fp-section section .project-card .desc h3 {
    font-size: 24px;
    text-align: left;
  }
}
@media screen and (max-width: 400px) {
  .section.s3.fp-section section .project-card .desc h3 {
    font-size: 20px;
  }
}
.section.s3.fp-section section .project-card .desc p {
  color: white;
  margin: 10px;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
}
@media screen and (max-width: 500px) {
  .section.s3.fp-section section .project-card .desc p {
    font-size: 16px;
    margin: 10px 0;
  }
}
@media screen and (max-width: 400px) {
  .section.s3.fp-section section .project-card .desc p {
    font-size: 14px;
  }
}
.section.s3.fp-section section .project-card .desc img {
  position: absolute;
  width: 50px;
  height: 50px;
  object-position: center;
  object-fit: cover;
  right: 10px;
  bottom: 10px;
  border: none;
  transition: 0.3s;
}
@media screen and (max-width: 500px) {
  .section.s3.fp-section section .project-card .desc img {
    width: 33px;
    height: 33px;
    top: 10px;
  }
}
.section.s3.fp-section section .project-card .desc img:hover {
  opacity: 0.6;
}
.section.s3.fp-section.active h2 {
  animation: appear-top 700ms 0.5s ease-in-out forwards;
}
.section.s3.fp-section.active .project-card {
  animation: scale 700ms 0.5s ease-in-out forwards;
  transform: scale(0.8);
}
.section.s4 .skills {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 50px;
}
@media screen and (max-width: 810px) {
  .section.s4 .skills {
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }
}
@media screen and (max-width: 500px) {
  .section.s4 .skills {
    gap: 40px;
  }
}
.section.s4 .skills .container {
  width: 40%;
  display: flex;
  flex-direction: column;
  position: relative;
  opacity: 0;
}
@media screen and (max-width: 810px) {
  .section.s4 .skills .container {
    width: 80%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 500px) {
  .section.s4 .skills .container {
    width: 90%;
  }
}
.section.s4 .skills .container h2 {
  margin-bottom: 15px;
  color: white;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
.section.s4 .skills .container .box {
  width: 100%;
  border: 2px solid white;
  padding: 15px 0;
  border-radius: 25px;
  display: flex;
  gap: 10px;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.section.s4 .skills .container .box .logo {
  position: relative;
  display: flex;
  align-items: center;
}
.section.s4 .skills .container .box .logo img {
  max-width: 100px;
  max-height: 100px;
  object-fit: cover;
  object-position: center;
  transition: 0.5s;
}
@media screen and (max-width: 500px) {
  .section.s4 .skills .container .box .logo img {
    max-height: 50px;
    max-width: 75px;
  }
}
.section.s4 .skills .container .box .logo p {
  position: absolute;
  top: 50%;
  color: white;
  left: 50%;
  font-weight: 700;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 0.5s;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
.section.s4 .skills .container .box .logo.reverse img {
  opacity: 0.2;
}
.section.s4 .skills .container .box .logo.reverse p {
  opacity: 1;
}
.section.s4 .skills .container.front {
  left: -200px;
  animation: disappear-left 500ms ease-in-out forwards;
}
.section.s4 .skills .container.back {
  right: -200px;
  animation: disappear-right 500ms ease-in-out forwards;
}
.section.s4 .skills .container.others {
  bottom: -100px;
  animation: disappear-bottom 500ms ease-in-out forwards;
}
.section.s4.active .skills .container.front {
  animation: appear-left 1000ms 0.3s ease-in-out forwards;
}
.section.s4.active .skills .container.back {
  animation: appear-right 1000ms 0.3s ease-in-out forwards;
}
.section.s4.active .skills .container.others {
  animation: appear-bottom 1000ms 0.3s ease-in-out forwards;
}

@keyframes appear-top {
  to {
    top: 0;
    opacity: 1;
  }
}
@keyframes appear-bottom {
  to {
    opacity: 1;
    bottom: 0;
  }
}
@keyframes appear-left {
  to {
    opacity: 1;
    left: 0;
  }
}
@keyframes appear-right {
  to {
    opacity: 1;
    right: 0;
  }
}
@keyframes disappear-top {
  from {
    top: 0;
    opacity: 1;
  }
}
@keyframes disappear-bottom {
  from {
    bottom: 0;
    opacity: 1;
  }
}
@keyframes disappear-left {
  from {
    left: 0;
    opacity: 1;
  }
}
@keyframes disappear-right {
  from {
    right: 0;
    opacity: 1;
  }
}
@keyframes scale {
  to {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes descale {
  from {
    transform: scale(1);
    opacity: 1;
  }
}
.burger {
  cursor: pointer;
  position: fixed;
  top: 5%;
  right: 5%;
  gap: 10px;
  display: flex;
  z-index: 6;
  transition: 0.4s;
}
@media screen and (max-width: 1550px) {
  .burger {
    right: 6%;
  }
}
@media screen and (max-width: 920px) {
  .burger {
    right: 8%;
  }
}
.burger div {
  border-radius: 25px;
  height: 30px;
  background-color: white;
  width: 3px;
  transition: 0.4s;
}
.burger div:nth-of-type(2) {
  height: 40px;
}
.burger:hover div {
  background-color: #ff7d25;
  height: 40px;
}
.burger:hover div:nth-of-type(2) {
  height: 30px;
}
.burger.active div {
  height: 50px;
}
.burger.active div:nth-of-type(1) {
  transform: translateY(12px) rotate(135deg) translateX(-24px);
}
.burger.active div:nth-of-type(2) {
  transform: scale(0);
}
.burger.active div:nth-of-type(3) {
  transform: translateY(2.5px) rotate(-135deg) translateX(10px);
}

.container_burger {
  width: 200px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: -200px;
  transition: 0.5s;
  background-color: #161648;
  z-index: 5;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 920px) {
  .container_burger {
    width: 150px;
  }
}
@media screen and (max-width: 500px) {
  .container_burger {
    width: 50%;
    right: -50%;
  }
}
.container_burger div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 50%;
  width: 100%;
  margin: auto;
}
.container_burger div img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  object-position: center;
  transition: 0.3s;
}
.container_burger div img:hover {
  opacity: 0.6;
}
.container_burger.active {
  right: 0;
}

/*# sourceMappingURL=style.css.map */
